<tr class="torrent-item">
  <td>{{name}}</td>
  <td>{{size}}</td>
  <td>
    <div class="progress-bar" style="width: {{progress}}%;"></div>
    <div class="centered-text progress-text">{{progress}}%</div>
  </td>
  <td class="download-speed">{{downloadSpeed}}</td>
  <td>{{uploadSpeed}}</td>
</tr>
